.tooltip_gatilho {
	position: relative;
	transition: transform 0.2s ease-in-out;
 }
 
 .tooltip_gatilho:hover {
	transform: scale(1.05);
 }
 
 .tooltip_gatilho:hover::after {
	content: '🔍';
	position: absolute;
	top: -8px;
	right: -10px;
	font-size: 0.8rem;
 }

.hover_card_conteudo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
	border-radius: 6px;
	padding: 1vh .5vw;
	width: 300px;
	background-color: white;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}

.hover_card_conteudo * {
    margin: 0;
}

.hover_card_conteudo[data-side="top"] { animation-name: slideDownAndFade; }
.hover_card_conteudo[data-side="right"] { animation-name: slideLeftAndFade; }
.hover_card_conteudo[data-side="bottom"] { animation-name: slideUpAndFade; }
.hover_card_conteudo[data-side="left"] { animation-name: slideRightAndFade; }

.hover_card_flecha { fill: white; }

@keyframes slideUpAndFade {
	0% {
		opacity: 0;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	0% {
		opacity: 0;
		transform: translateX(-2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	0% {
		opacity: 0;
		transform: translateY(-2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	0% {
		opacity: 0;
		transform: translateX(2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}