.container_caixa_informacao {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    padding: .3% .2vw 1.5vh .2vw;
    font-family: 'Crimson Pro', serif;
    font-variant: small-caps;
    min-width: 20vw;
    background: #090909FA;
    color: white;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_caixa_informacao > * {
    align-items: center;
}

.cabecalho_caixa_informacao {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.cabecalho_caixa_informacao span.titulo {
    font-size: 1.5em;
}

.cabecalho_caixa_informacao span.subtitulo {
    font-size: .9rem;
    font-style: italic;
}

.corpo_caixa_informacao {
    display: flex;
    flex-direction: column;
    gap: .7vh;
    font-size: 1.2em;
}

.rodape_caixa_informacao {
    display: flex;
    flex-direction: column;
}

.separador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.span_separador {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: .6rem;
    font-weight: bold;
}

.span_separador::before, .span_separador::after {
    display: block;
    content: "";
    background-color: white;
    height: 2px;
}

/**/

.acoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}