/* ----- Section Principal ----- */
.section1 {
    margin: 0% auto 5vw;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5%;
    background-image: linear-gradient(to top, #0B091200, #0B0912, #0B0912, #0B091295, #0B091200);
    background-repeat: no-repeat;
    background-position: bottom center;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}


/* =========================================
 CARROSSEL DE IMAGENS
========================================= */

/* Estrutura lateral e central */
.border1 {
    width: 23%;
    height: vw;
    scale: 0.95;
    padding: 0% 0% 0% 0%;
    border-top: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.border3 {
    width: 23%;
    height: 29vw;
    scale: 0.95;
    padding: 0% 0% 0% 0%;
    border-top: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.border1 { border-right: 3px solid #28242E; }
.border3 { border-left: 3px solid #28242E; }

.slide_principal {
    width: 60vw;
    height: 100%;
    position: relative;
}

/* ----- Container do carrossel ----- */
.carrossel_homepage {
    width: 100vw;
    height: 35vw;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;

    filter: drop-shadow(0px 15px 5px #00000054);
}

.carrossel_homepage input { display: none; }

.recipiente_carrossel_homepage {
    display: flex;
    overflow: hidden;

    width: 59vw;
    gap: 9%;

    background-color: #503a28;
}

.slide_images {
    transition: 2s;
}

.slide_images img {
    width: 59vw;
}

/* =========================================
 CONTROLES DO CARROSSEL
========================================= */

/* Navegação manual */
.manual_navigation {
    position: absolute; top: 106%; left:45%;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%; height: 0.2%;
    padding: 0.7%;
}

.manual_btn {
    border: 0.15vw solid #3D3852;
    background-color: #302b3834;
    padding: 4.5%;
    border-radius: 1vw;
    transition: 0.5s;
    position: relative;
    z-index: 3;
}

.manual_btn:hover {
    background-color: #8c829ca1;
    cursor: pointer;
}

.manual_btn:not(:last-child) {
    margin-right: 25%;
}

/* Mudança de posição */
#radio1:checked ~ .first { margin-left: 0; transition: 1.5s; }
#radio2:checked ~ .first { margin-left: -108.5%; transition: 1.5s; }
#radio3:checked ~ .first { margin-left: -217.5%; transition: 1.5s; }

/* Navegação automática */
.navigation_auto {
    position: absolute;
    top: 109.5%;
    left: 38%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.129vw;
    margin-top: 2.549vw;
}

.navigation_auto div {
    border: 2% solid red;
    padding: 3%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.navigation_auto div:not(:last-child) {
    margin-right: 25%;
}

#radio1:checked ~ .navigation_auto .auto_btn1,
#radio2:checked ~ .navigation_auto .auto_btn2,
#radio3:checked ~ .navigation_auto .auto_btn3 {
    background-color: #58437a5b;
}

/* =========================================
 ESTÉTICA DO CARROSSEL
========================================= */

.recipiente_bordas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    position: absolute;
}

/* Bordas e laterais */
.borda_slide1 , .borda_slide3 {
    height: 28.594vw;
    width: 19.7vw;

    scale: 0.98;
}

.borda_slide1 {
    content: "";
    background-image: url(/imagensFigma/mathias-tiffany-capa.png);
    background-position: center center;
    background-size: cover;
    
    border: 0.4vw solid #644A33;
    border-right: 0.5vw solid #644A33;
    border-radius: 0 15px 15px 0;
    box-shadow: inset 5vw 0px 100px 10px rgb(0, 0, 0);
}



.borda_slide3 {
    background-image: url(/imagensFigma/prisioneiro-capa.png);
    background-position: center center;

    border: 0.4vw solid #644A33;
    border-right: 0.5vw solid #644A33;
    border-radius: 15px 0px 0px 15px;
    box-shadow: inset -5vw 0px 100px 10px rgb(0, 0, 0);
}

/* Borda central */
.borda_slide2 {
    position: relative;
    z-index: 2;
    scale: 0.99;

    width: 60vw;
    height: 34.2vw;

    background-color: #0e0b180a;
    border: 0.8vw solid;
    border-image: linear-gradient(to right, #644A33, #CA9567, #644A33) 1;
    transition: 0.2s;
}

.borda_slide2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #3b384467, transparent 35%);
}

.borda_slide2 {
    background-image: linear-gradient(to top, #d9d9d923 5%, transparent, transparent);
}

/* =========================================
 BOTÕES E ORNAMENTOS
========================================= */

/* Laterais */
.side_bl, .side_br {
    position: absolute;
    height: 8.021vw;
    top: 38.69%;
    opacity: 100%;
    z-index: 4;
    transition: 0.3s;

    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.801));
}

.side_bl { left: -5.71%; }
.side_br { right: -5.91%; scale: 0.93; }

.side_bl:hover, .side_br:hover {
    opacity: 80%;
}

/* Setas sobrepostas */
.over_b_l, .over_b_r {
    position: absolute;
    height: 3.5vw;
    width: auto;
    top: 45.25%;
    filter: var(--sombras-elementos);
    z-index: 5;
    transition-duration: 0.2s;
}

.over_b_l { left: -2%; }
.over_b_r { right: -2%; }

.over_b_l:hover {
    height: 3.55vw;
    left: -3%;
    filter: drop-shadow(5px 0px 10px rgba(66,149,226,0.2));
}

.over_b_r:hover {
    height: 3.55vw;
    right: -3%;
    filter: drop-shadow(-5px 0px 10px rgba(66,149,226,0.2));
}

/* Molduras e adesivos */
.moldura_carrossel {
    position: absolute;
    top: 2.35%;
    right: -5.15%;
    height: 32.5vw;
    scale: 0.98;
    z-index: 4;
    pointer-events: none;
}

.adesivos {
    position: absolute;
    top: 0%;
    left: 1.8%;
    width: 58vw;
    height: 34vw;
    scale: 1.22;
    z-index: 6;
    pointer-events: none;
    filter: drop-shadow(0px 11px 8px #00000094);
}
