#layout_em_jogo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* max-width: calc(100vh * 16 / 9);
    max-height: calc(100vw * 9 / 16); */
    margin: auto;
    color: white;
    font-family: 'Crimson Pro', serif;
    font-variant: small-caps;
}

.overlay_swiper_esquerda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.swiper_esquerda {
    position: fixed;
    top: 8%;
    left: -20vw;
    width: 20vw;
    height: 100vh;
    background-color: #444;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 999;
}
  
.swiper_esquerda.swiper_esquerda_aberto {
    transform: translateX(20vw);
}
  
.swiper_esquerda .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
  
.swiper_esquerda nav ul {
    list-style: none;
    padding: 20px;
}

.swiper_esquerda nav ul li {
    margin: 15px 0;
}

.swiper_esquerda nav ul li a {
    color: white;
    text-decoration: none;
}

#layout_em_jogo_cabecalho {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 8%;
    padding: .7vh 4%;
    box-sizing: border-box;
    border-image: linear-gradient(.7turn, #ffffff00, var(--cor1), #ffffff00) 1;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.conteudo_cabecalho_esquerda {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    gap: 2vw;
}

.botao_cabecalho_swiper_esquerda {

}

.logo_cabecalho {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    aspect-ratio: 2.6/1;
}

.conteudo_cabecalho_direita {
    height: 100%;
    width: 20%;
}

.logavel {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    box-sizing: border-box;
    /* border: 2px gray solid; */
    border-radius: 20px;
}

.imagem_logavel {
    background-color: plum;
    height: 100%;
    aspect-ratio: 1.15/1;
    border-radius: 20px;
}

.info_logavel {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: center;
}

#layout_em_jogo_main {
    display: flex;
    flex-direction: column;
    flex: 1;
}