.embrulho_icone {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    /* align-items: center; */
    pointer-events: none;
    width: 100%;
}

.embrulho_icone h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #CCCCCC;
}

.embrulho_icone_localizado {
    align-items: center;
}

.icone {
    border-radius: 5px;
    border: 1px antiquewhite solid;
    box-shadow: inset 0px 0px 5px 1px black;
    width: 40px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    pointer-events: auto;
    margin: auto;
}

.icone_item {
    display: inline-block;
    position: relative;
    width: 10vh;
    border: 3px solid #7b7b7b77;
    border-radius: 5%;
    box-shadow: inset 0px 0px 9px 2px #85858555;
    padding: .65vh .3vw;
    pointer-events: auto;
    margin: auto;
}

.icone_item img {
    width: 100%;
}

.icone_item:hover {
    border-color: #2684FF;
    box-shadow: inset 0px 0px 5px 1px black, 0 0 0 1px #2684FF;
}

.icone:hover {
    border-color: #2684FF;
    box-shadow: inset 0px 0px 5px 1px black, 0 0 0 1px #2684FF;
}

.conteudo_popover {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
    padding: 1vh 1vw;
}

.conteudo_popover h2 {
    margin: 0;
}

.acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.corpo_caixa_informacao p {
    font-size: 1.2rem;
    margin: 0
}

.corpo_caixa_informacao p.separador {
    font-size: 1.5rem;
    margin-top: .5vh;
}

.recipiente_conteudo_execucao_modal {
    flex: 1;
}

.recipiente_conteudo_execucao_modal hr {
    margin-top: 2%;
}

.opcao_acao {
    display: flex;
    flex-direction: column;
}

.opcao_acao h2 {
    margin: 0 auto;
}

.opcao_acao option:disabled:not(.opcao_acao_padrao) {
    background-color: #352525;
    color: #DE645A;
}

.botao_principal {
    padding: 1vh .7vw;
    align-self: center;
}

.recipiente_icones {
    display: flex;
    flex-direction: row;
    height: 1.4em;
    justify-content: center;
    gap: 2%;
}

.recipiente_icones svg {
    height: 100%;
}

.bloco_texto_espaçado {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.bloco_texto {
    display: flex;
    flex-direction: column;
}

p.texto {
	font-size: 1.2rem;
    margin: 0;
}

p.titulo {
	font-size: 1.5rem;
	margin: 0;
}

summary {
    font-size: 1.3rem;
	margin: 0; 
}

.texto_details {
    font-size: 1rem;
	margin: 0;  
}

span.bold {
    font-weight: bold;
}

.quantidade_agrupada {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2%;
    font-size: 1rem;
}

.mensagem_erro {
    color: red;
}