#rodape {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 0 0 0;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#recipiente_redes_sociais {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1%;
    width: 24%;
    gap: 4vw;
}