.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 5vh;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 58px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8vw;
}

.curved-corners {
    background-color: #2e1a47;
    height: 100%;
    width: 35%;
}

.curved-corners.left {
    border-radius: 0 40px 0 0;
}

.curved-corners.right {
    border-radius: 40px 0 0 0;
}