.recipiente_icone_buscar_acao_manualmente {
    position: absolute;
    top: 1%;
    padding: .3%;
    backdrop-filter: brightness(.3);
    border-radius: 100%;
    box-shadow: 0 0 7px 0px #00000069;
    user-select: none;

    &.sessao_anterior {
        right: 2.6%;
    }

    &.sessao_seguinte {
        right: .5%;
    }

    &:not(.acao_desabilitada) {
        cursor: pointer;
    }

    &.acao_desabilitada {
        backdrop-filter: contrast(.8);
    }

    &:not(.acao_desabilitada):hover {
        box-shadow: 0 0 7px 0px #ffffffff;
    }
}