::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#330ba4, #64305f, #330ba4);
    border-radius: 10px;
}