/* =========================================
   CARD DO USUÁRIO
========================================= */

.recipiente_card_usuario {
    width: 63%;
    height: 151.5%;
    padding-left: 2%;
    padding-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipiente_card_usuario h2 {
    width: 95%;
    height: 5.75%;
    margin-bottom: 1%;
    position: relative;

    display: flex;
    justify-content: start;
    align-items: center;
}

.recipiente_card_usuario h2::after {
    content: '';
    height: 1px;
    width: 107%;
    background-color: #322F2F;

    position: absolute;
    top: 100%;
    left: -3.5%;
}


/* =========================================
   AVATAR
========================================= */

.absolut_avatar {
    height: 100%;
    aspect-ratio: 1 / 1;

    position: absolute;
    top: 50%;
    left: 8%;

    z-index: 2;

    transform: translateY(-65%);
}

.recipiente_avatar_usuario {
    height: 50%;
    aspect-ratio: 1 / 1;

    position: relative;

    transition: .4s ease;
}

.recipiente_avatar_usuario:hover {
    transform: scale(.98);
    transition: 0.4s ease;
}

.recipiente_imagem_usuario {
    height: 100%;
    aspect-ratio: 1 / 1;

    position: relative;

    border-radius: 7.5%;
    overflow: hidden;

    z-index: 1;

    cursor: pointer;

    background:
        linear-gradient(
            to bottom,
            #857f7200 30%,
            hsla(41, 46%, 85%, 0.030) 100%
        ),
        radial-gradient(circle, #040309 53%, #07060B 100%);

    border: 1px solid #352E4C;
}

.moldura_avatar {
    width: 121.5%;
    aspect-ratio: 1/1;

    position: absolute;
    top: 50%;
    left: 50%;

    transform:
        translateY(-50%)
        translateX(-50%);

    z-index: 2;

    pointer-events: none;
}

.recipiente_emblema_moldura {
    position: absolute;
    top: 85%;
    left: 50%;

    transform:
        translateY(0%)
        translateX(-50%);

    height: 20%;
    aspect-ratio: 1/1;

    z-index: 2;
}

/* =========================================
   INFORMAÇÕES DO USUÁRIO
========================================= */

.recipiente_informacoes_usuario {
    width: 40%;
    height: 40%;
    margin-bottom: 3%;

    padding: 2.5% 0% 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3.5%;
}

.recipiente_informacoes_usuario::before {
    content: '';

    height: 1px;
    width: 100%;

    background-color: #322F2F;

    position: absolute;
    top: 50%;
    left: 50%;

    transform:
        translateY(-50%)
        translateX(-50%);
}

.recipiente_informacoes_usuario h1 {
    font-family: var(--fonte-cinzel);
    text-transform: lowercase;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.05em;

    color: #EBE0C9;
}

.divisoria_usuario {
    height: 5px;
    width: 95%;

    background-image: linear-gradient(
        to right,
        #e2b83c86,
        #FDFC9E 30%,
        #e2b83c00
    );
}

/* =========================================
   DESCRIÇÃO
========================================= */

.descricao_usuario {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 3;
}

.descricao_usuario p {
    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: var(--fonte-junge);
    font-size: 1.15rem;
    line-height: 145%;
    letter-spacing: 5%;

    text-align: start;
    align-content: start;

    color: #aba9a1;
}

.descricao_usuario textarea {
    width: 100%;
    height: 100%;

    outline: none;
    resize: none;

    overflow-y: auto;

    font-family: var(--fonte-junge);
    font-size: 1.15rem;
    font-style: italic;
    line-height: 145%;
    word-spacing: 5%;

    text-align: start;
    align-content: center;

    color: #aba9a183;

    padding-right: 1%;
    padding-left: 3%;

    scrollbar-width: thin;

    border: 1px solid #322F2F;
    border-radius: .3rem;

    background-color: #322f2f17;

    position: relative;
    z-index: 3;
}

.descricao_usuario textarea::placeholder {
    color: #aba9a183;
}

/* =========================================
   BOTÃO DE EDIÇÃO
========================================= */

.descricao_editacao_icone svg {
    height: 1.5rem;
    width: 1.5rem;

    position: absolute;
    top: 20%;
    right: -7.5%;

    color: #EBE0C9;
}

.descricao_editacao_icone svg:hover {
    stroke: #EBE0C9;
    stroke-width: .5px;

    transition: stroke 0.3s ease;
}

/* =========================================
   BOTÕES SALVAR / CANCELAR
========================================= */

.recipiente_botao_salvar_cancelar {
    position: absolute;
    bottom: -45%;
    left: 0%;

    display: flex;
    flex-direction: row;
    gap: 10%;

    z-index: 3;

    height: 30%;
    width: 40%;
}

/* =========================================
   STATUS
========================================= */

.status_usuario {
    width: 100%;
    height: auto;

    margin-top: 1%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.status_usuario p {

    font-family: var(--fonte-junge);
    font-size: 1.15rem;
}

.status_icone {
    position: relative;

    height: 18px;
    aspect-ratio: 1/1;

    background-color: #97CD61;

    mask-image: url('https://cdn.universodomedo.com/RecursosInternos/de695432-52f7-4742-97f6-58bd2f630bcd.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    -webkit-mask-image: url('https://cdn.universodomedo.com/RecursosInternos/de695432-52f7-4742-97f6-58bd2f630bcd.svg');
}

/* =========================================
   HISTÓRICO
========================================= */

.recipiente_status_usuario {
    width: 110.3%;
    height: 55%;

    display: flex;
    flex-direction: column;
}

.recipiente_status_usuario p {
    font-family: var(--fonte-junge);
    font-size: 1.15rem;
    color: #EBE0C9;

    line-height: 145%;
    word-spacing: 5%;
}

.historico_usuario {
    width: 100%;
    height: 51%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.historico_usuario::after {
    content: '';

    height: 1px;
    width: 100%;

    background-color: #322F2F;

    position: absolute;
    bottom: 25%;
    left: 0%;
}

.celula_desde,
.celula_ultimo_acesso,
.celula_regiao {
    width: 33.33%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.celula_desde::after,
.celula_ultimo_acesso::after {
    content: '';

    height: 25%;
    width: 1px;

    background-color: #322F2F;

    position: absolute;
    top: 50%;
}

.celula_desde::after {
    left: 33.33%;
}

.celula_ultimo_acesso::after {
    left: 66.66%;
}

/* =========================================
   SOBRE
========================================= */

.sobre_usuario {
    width: 100%;
    height: 49%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.celula_sobre {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.celula_sobre::after {
    content: '';

    height: 25%;
    width: 1px;

    background-color: #322F2F;

    position: absolute;
    bottom: 0%;
    left: 20%;
}

.celula_sobre_info {
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* =========================================
   MODAL AVATARES
========================================= */

#recipiente_selecao_avatares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 5vh;

    padding: 2vh 0;
}

#recipiente_selecao_avatares h2 {
    margin: auto;
}

.recipiente_celula_avatar {
    flex: 0 0 30%;
    height: fit-content;
}

.recipiente_avatar {
    position: relative;

    aspect-ratio: 1;
    height: 8rem;

    margin: auto;
}

.recipiente_avatar:not(.selecionado_atual) {
    cursor: pointer;
}

.recipiente_avatar img {
    filter: drop-shadow(2px 4px 6px black);
}

.recipiente_avatar.selecionado_atual img {
    filter: drop-shadow(2px 4px 6px rgb(233, 170, 55));
}

.recipiente_avatar:not(.selecionado_atual):hover img {
    filter: drop-shadow(2px 4px 6px rgb(51, 255, 136));
}