.editando_ficha {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 1vh 0 0 0;
    gap: 4vh;
    overflow-y: auto;
    flex: 1;
}

.titulo_edicao_ficha {
    margin: 0
}

.editando_ficha input {
    width: 20%;
    height: 4vh;
    margin: auto;
}

.recipiente_area_edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    overflow: auto;
}

.area_edicao {
    width: 60%;
}

.editando_ficha_atributos {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2vh;
}

.div_atributos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.editando_atributo {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    padding: .4%;
}

.editando_atributo h2 {
    margin: 0;
}

.editando_ficha_pericias {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.div_pericias {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.editando_pericia {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    padding: .4%;
}

.editando_ficha_estatisticas {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.visualizador_estatistica {
    display: flex;
    flex-direction: column;
    /* border: 1px white solid; */
    gap: .6vh;
    padding: 1%;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    flex: 0 0 0;
}

.editando_ficha .prosseguir, .recipiente_botao_desabilitado {
    width: 6%;
    height: 4vh;
}

.recipiente_botao_desabilitado button {
    width: 100%;
    height: 100%;
}