#recipiente_pagina_admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 3%;
    gap: 2vh;
}

#recipiente_conteudo_pagina_admin {
    font-size: .8rem;
    font-weight: bolder;
    font-family: var(--fonte-junge) !important;
}