.container_extremidades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.conteudo_inventario {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2vh;
}

.inventario_barras {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    gap: 1vh;
}

.inventario_barras :global(h3) {
    font-size: 2vh !important;
}

.recipiente_barra_espaco {
    display: flex;
    flex: 1;
}

.recipiente_linha_categorias {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    flex-wrap: wrap;
    margin: 0 12%;
    gap: 5%;
    flex: 1;
}

.recipiente_barra_categoria {
    display: flex;
    flex: 1 1 calc(40%);
}

.extremidade {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.extremidade img {
    filter: invert(1);
}

.icones_extremidade_vazia {
    display: inline-block;
    position: relative;
    width: 10vh;
    height: 10vh;
    border: 3px solid #7b7b7b77;
    border-radius: 5%;
    box-shadow: inset 0px 0px 9px 2px #030202f2;
    padding: 2%;
}