[submodule "deployments/udm-deployment"]
	path = deployments/udm-deployment
	url = git@github.com:universodomedo/deployments.git
	branch = universodomedo.com-deployment
[submodule "galadriel"]
	path = galadriel
	url = git@github.com:universodomedo/galadriel.git
	branch = main
