.recipiente_post {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.post_parte_superior {
    display: flex;
    flex-direction: row;
    height: 35%;
}

.recipiente_imagem_personagem {
    position: relative;
    width: 5%;
}

.recipiente_imagem_personagem h1 {
    margin: auto 0;
}

.post_parte_inferior {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 65%;
    gap: 2vw;
}

.recipiente_imagem_post {
    position: relative;
    width: 12%;
}

.recipiente_informacoes_parte_inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
}