.teste_interno {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    gap: 2vh;
    overflow-y: auto;
}

.ficha_existente {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.acesso_ficha_existente, .acesso_ficha_nova {
    display: flex;
    flex-direction: row;
    border: 2px white solid;
    border-radius: 5px;
    gap: 1vw;
    cursor: pointer;
    padding: 1vh .6vw;
    box-shadow: inset 1px;
}

.ficha_pendente > .acesso_ficha_existente {
    color: rgb(173, 173, 173);
    border: 2px red solid;
}

.botao_ficha_existente {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.acesso_ficha_existente:hover, .acesso_ficha_nova:hover {
    border: 2px rgb(120, 183, 255) solid;
    background-color: rgb(42, 55, 58);
}

.ficha_pendente > .acesso_ficha_existente:hover {
    border: 2px rgb(185, 53, 53) solid;
    background-color: rgb(100, 50, 50);
}

.ficha_pendente .icone_carrinho {
    color: rgb(173, 173, 173);
}

.ficha_nome, .acesso_ficha_nova {
    font-size: 2rem;
}

.ficha_detalhes {
    display: flex;
    flex-direction: column;
}

.ficha_acoes {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.ficha_acoes_coluna {
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    align-items: center;
    justify-content: center;
}

.icones_ficha {
    cursor: pointer;
}

.icone_evolucao {
    color: red;
}

/* */

.modal_criacao_ficha {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.modal_criacao_ficha h1 {
    margin: 0;
}