.card_base {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    padding: 1em;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.card_base_nome {
    font-size: 1.1em;
}
