.recipiente_pagina_rituais {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 100%;
}

.rituais_pendentes {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.rituais_pendentes h1 {
    margin: 0;
}

.rituais_pendentes button {
    width: fit-content;
}

.rituais_existentes {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    height: 100%;
    overflow: auto;
    align-items: center;
}

.rituais_existentes h1 {
    margin: 0;
}

.recipiente_ritual_existente {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: space-evenly;
}

.ritual_existente {
    display: flex;
    flex-direction: row;
    flex: 0 1 calc(40%);
    border: 2px red solid;
    border-radius: 10px;
}

.detalhes_ritual_existente {
    display: flex;
    flex-direction: column;
}

.recipiente_construcao_ritual {
    width: 100%;
    flex: 1;
}