.conteudo_inventario {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
}

.container_extremidades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventario_personagem {
    display: flex;
    flex-direction: column;
}

.inventario_personagem table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.info_inventario {
    display: flex;
    flex-direction: column;
    gap: 1.5vh
}