.inventario_personagem {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.inventario_personagem table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}