.img1 {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .4;
}

.img2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.section-content {
    display: grid;
    gap: 3vh;
    margin: 0 auto;
    text-align: center;
}

.title {
    line-height: 4.5vh;
}

.title p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5vh;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.paragraph {
    line-height: 2.4vh;
}

.paragraph p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    margin: 0 auto;
}