#portal_jogador {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 1%;
    gap: 1vw;
}

#portal_jogador_esquerda {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 2vh;
}

#barra_jogador {
    display: flex;
    border: 1px white solid;
    border-radius: 10px;
    height: 67px;
}

#barra_jogador h1 {
    margin: auto 2%;
}

#notificacoes_jogador { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    flex: 1;
    border: 1px white solid;
    border-radius: 10px;
    gap: 1vh;
}

#notificacoes_jogador h1 {
    margin-bottom: 2vh;
}

#portal_jogador_direita {
    height: 100%;
    flex: .2;
    border: 1px white solid;
    border-radius: 10px;
}

.ficha_existente {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.acesso_ficha_existente, .acesso_ficha_nova {
    display: flex;
    flex-direction: row;
    border: 2px white solid;
    border-radius: 5px;
    gap: 1vw;
    cursor: pointer;
    padding: 1vh .6vw;
}

.ficha_nome, .acesso_ficha_nova {
    font-size: 2rem;
}

.ficha_pendente > .acesso_ficha_existente {
    color: rgb(173, 173, 173);
    border: 2px red solid;
}

.acesso_ficha_existente:hover, .acesso_ficha_nova:hover {
    border: 2px rgb(120, 183, 255) solid;
    background-color: rgb(42, 55, 58);
}

.ficha_pendente > .acesso_ficha_existente:hover {
    border: 2px rgb(185, 53, 53) solid;
    background-color: rgb(100, 50, 50);
}

.ficha_detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha_acoes {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.ficha_acoes_coluna {
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    align-items: center;
    justify-content: center;
}

.icones_ficha {
    cursor: pointer;
}

.modal_criacao_ficha {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#portal_jogador {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 1%;
    gap: 1vw;
    width: 98%;
}

#portal_jogador_esquerda {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 2vh;
}

#barra_jogador {
    display: flex;
    border: 1px white solid;
    border-radius: 10px;
    height: 67px;
}

#barra_jogador h1 {
    margin: auto 2%;
}

#notificacoes_jogador { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    flex: 1;
    border: 1px white solid;
    border-radius: 10px;
    gap: 1vh;
}

#notificacoes_jogador h1 {
    margin-bottom: 2vh;
}

#portal_jogador_direita {
    height: 100%;
    flex: .2;
    border: 1px white solid;
    border-radius: 10px;
}

.ficha_existente {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.acesso_ficha_existente, .acesso_ficha_nova {
    display: flex;
    flex-direction: row;
    border: 2px white solid;
    border-radius: 5px;
    gap: 1vw;
    cursor: pointer;
    padding: 1vh .6vw;
}

.ficha_nome, .acesso_ficha_nova {
    font-size: 2rem;
}

.ficha_pendente > .acesso_ficha_existente {
    color: rgb(173, 173, 173);
    border: 2px red solid;
}

.acesso_ficha_existente:hover, .acesso_ficha_nova:hover {
    border: 2px rgb(120, 183, 255) solid;
    background-color: rgb(42, 55, 58);
}

.ficha_pendente > .acesso_ficha_existente:hover {
    border: 2px rgb(185, 53, 53) solid;
    background-color: rgb(100, 50, 50);
}

.ficha_detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha_acoes {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.ficha_acoes_coluna {
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    align-items: center;
    justify-content: center;
}

.icones_ficha {
    cursor: pointer;
}

.modal_criacao_ficha {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}