/* =========================
   CARD DE CONQUISTAS
========================= */

.recipiente_conquistas {
    width: 97.5%;
    height: 35.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(to bottom, #857f7200 20%, hsla(41, 46%, 85%, 0.030) 100%),
        radial-gradient(circle, #040309 53%, #07060B 100%);

    border-radius: .5rem;
}

.area_conquistas {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 7.5%;

    text-align: center;
}

.area_conquistas::after {
    content: url('/moldura-conquistas.svg');

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-53.5%) scale(.935);

    width: 100%;

    z-index: 10;
    pointer-events: none;
}

.area_conquistas::before {
    content: url('/ornamento-conquistas.svg');

    position: absolute;
    bottom: 5%;
    left: 0%;

    width: 100%;
    height: 1.5rem;
}

.recipiente_titulo_conquistas {
    position: relative;

    width: 100%;
    height: 4.5rem;

    padding-left: 5%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.recipiente_titulo_conquistas::before {
    content: '';

    position: absolute;
    top: 100%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    width: 95%;
    height: 1px;

    background-color: #322F2F;

    z-index: 10;
}

.area_conquistas h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte-cinzel);
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: 0.05em;

    color: transparent;

    background: linear-gradient(to bottom, #857F72, #EBE0C9, #857F72);
    -webkit-background-clip: text;
    background-clip: text;
}

.titulo_conquistas {
    position: relative;

    width: fit-content;
    height: 100%;
}

.icone_conquistas {
    content: url('/icone-conquistas.png');

    width: 40px;
    height: fit-content;

    margin-right: 2.5%;
    margin-top: .25%;
}

.recipiente_icones_conquistas {
    width: 100%;
    height: 8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 2.5%;

    overflow: hidden;
}

.recipiente_placeholders {
    position: relative;

    height: 100%;
    aspect-ratio: 1/1;
}

.recipiente_placeholders::before {
    content: '';

    position: absolute;
    top: 10%;
    right: -30%;

    transform: translateX(-50%);

    width: 1px;
    height: 80%;

    background-color: #322F2F;

    z-index: 10;
}

.placeholder_conquistas {
    position: relative;
    top: 0%;
    left: 0%;

    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.placeholder_conquistas:hover {
    cursor: pointer;
}

.placeholder_conquistas:hover .fundo_placeholder {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.placeholder_conquistas:hover .botao_placeholder {
    transform: scale(.9);
    transition: transform 0.3s ease;
}

.botao_placeholder {
    position: absolute;
    z-index: 1;
}