.conteudo_rituais {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.conteudo_rituais h1 {
    color: white;
}

.rituais {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 2%;
    gap: 1%;
}