.sections {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 4rem;
    margin: 2% 0;
}

.sections > .section-content, .sections > .carousel-content {
    gap: 3vh;
}