.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1vh;
}

.alpha_warning {
    display: flex;
    flex-direction: row;
    border: 1px white solid;
    color: white;
    padding: .3%;
    margin: .5% auto 0 auto;
}