.imagens_botao_acesso {
    position: absolute;
    width: auto;
}

#icones_esquerda {

}

#botao_acessar {
    left: 23%;
    z-index: 3;
}

#icones_direita {
    left: 79%;
    transform: scaleX(-1);
    z-index: 2;
}