#portal_usuario {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 98%;
    margin: 1%;
    gap: 1vw;
}

#portal_usuario_esquerda {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 2vh;
}