.editando_ficha {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2vh;
}

.titulo_edicao_estatistica {
    margin: 0;
}

.editando_ficha_estatisticas {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.nome_estatistica, .alteracao_valor_estatistica {
    margin: 0;
}