.recipiente_loja {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: center;
    padding: 2vh;
    gap: 2vh;
}

.recipiente_loja h1 {
    font-size: 2.5em;
}

.recipiente_conteudo_tipo_item {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.recipiente_particoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px black solid;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.particao {
    border-bottom: 2px solid #333;
    width: 100%;
}

.particao_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    color: white;
}

.particao:nth-child(odd) .particao_header {
    background-color: #5A5A5A;
}

.particao:nth-child(odd) .particao_conteudo {
    background-color: #929292;
}

.particao:nth-child(even) .particao_header {
    background-color: #707070;
}

.particao:nth-child(even) .particao_conteudo {
    background-color: #B5B5B5;
}

.recipiente_nome_particao {
    height: 100%;
}

.recipiente_detalhes_particao {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.particao_conteudo {
    padding: 10px;
}

.botoes_itens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    height: 40%;
    gap: 10%;
    margin: auto;
}

.botao_categoria_item {
    flex: 1 1 calc(40%);
}

.recipiente_area_item {
    flex: 1 0 0;
    text-align: center;
    width: 100%;
}

.recipiente_conteudo_tipo_item {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.recipiente_botoes_area_item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex: 0 0 0;
}

.recipiente_botoes_area_item button {
    width: fit-content;
    aspect-ratio: 1 / 0.5;
}

.recipiente_area_botoes_equipamentos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
    width: 100%;
    justify-content: center;
}

.botao_equipamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(20%);
    height: 9vh;
    gap: 1vh;
}

.botao_equipamento svg {
    flex: 1;
}


/*  */

.opcao_item {
    width: 30%;
}

.descricao_item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.descricao_item p {
    font-size: .9rem;
    font-weight: bolder;
    margin: 0;
}