.telaRedefinir {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.areaRedefinir {
    display: flex;
    flex-direction: column;
    width: 24em;
    height: 26em;
    max-height: 90%;
    text-align: center;
    gap: 1em;
}

.areaRedefinir h1 {
    font-family: var(--fonte-cinzel-decorative);
}

.camposRedefinir {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mensagemRedefinida {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    color: #EBE0C9;
}

.erroRedefinir {
    color: #DB4747;
}