#recipiente_lista_acoes {
    display: flex;
    flex-direction: column;

    & .titulo_permissao {
        text-align: center;
        color: #E7FFBC;
    }

    & hr {
        margin: 1vh 0 .8vh;
    }
}

.recipiente_item_lista_acoes {
    user-select: none;
    border-radius: 5px;
    padding: 3% 0;
}

.recipiente_subitens_lista_acoes {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: .3vh;
}

.recipiente_lista_avatares_personagens {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: .7em;
}

.recipiente_avatar_personagem {
    position: relative;
    width: 30%;
    aspect-ratio: 1;
    filter: drop-shadow(0 0 .5em #000);

    &:not(.avatar_personagem_selecionado) {
        cursor: pointer;

        &:hover img {
            filter: drop-shadow(0 0 .5em #fff);
        }
    }

    &.avatar_personagem_selecionado {
        filter: drop-shadow(0 0 .5em #e9aa37);
    }
}

.recipiente_item_menu_com_pendencia {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-weight: bold;
    height: 1em;
    bottom: 0;
    right: 0;
}

.numero_pendencias {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
    height: 100%;
    aspect-ratio: 1;
    font-family: sans-serif;
    font-size: 83%;
}

.recipiente_lista_fichas_temporarias {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2% 1%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: .7em;
}

.recipiente_item_ficha_temporaria {
    width: 100%;
    padding: 3% 2%;
    border-radius: 5px;
    user-select: none;

    &:not(.ativo):hover {
        box-shadow: 0px 0px 9px 0px #ffffff;
    }

    &.ativo {
        color: #FBFF95;
        background-color: #DBB4F84D;
    }

    &:not(.ativo):hover {
        cursor: pointer;
    }
}