#recipiente_lista_acoes {
    display: flex;
    flex-direction: column;
    width: 16vw;

    & .titulo_permissao {
        text-align: center;
        color: #E7FFBC;
    }

    & hr {
        margin: 1vh 0 .8vh;
    }
}

.recipiente_item_lista_acoes {
    user-select: none;
    border-radius: 5px;
    padding: 3% 2%;
}

.recipiente_subitens_lista_acoes {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: .3vh;
}