.editando_ficha_atributos {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2vh;
}

.atributo_contadores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.atributo_contadores h1 {
    margin: 0;
}

.atributos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4vh;
    padding: 2% 5%;
}

.editar_atributo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px white solid;
    width: 20%;
    margin: auto;
}

.editar_atributo button {
    height: 50%;
}

.corpo_atributo {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    flex: 0 1 calc(33%);
    align-items: center;
}

.nome_atributo {
    margin: 0;
    line-height: .8;
}

.valor_atributo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 6%;
}

.valor_atributo h2 {
    margin: 0;
}

.editando_ficha_estatisticas {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.visualizador_estatistica {
    display: flex;
    flex-direction: column;
    gap: .6vh;
    padding: 1%;
}

.nome_estatistica, .alteracao_valor_estatistica, .ganhos_estatistica_por_atributo {
    margin: 0;
}