body {
    background: linear-gradient(to bottom, #0b1623 0%, #1e3a5f 50%, #0b1623 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    /* background: radial-gradient(circle, #292b2457 0%, transparent 63%); */
}

.noMargin {
    margin: 0;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.slick-list {
    padding: 0;
}

.slick-slide > div {
    display: flex;
    margin: auto;
}

.slick-slider {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#330ba4, #64305f, #330ba4);
    border-radius: 10px;
}

:root {
    --cor1: #2be5ff8c;
}