.recipiente_item_imagem_aventura_mestre {
    display: flex;
    flex-direction: column;
    direction: rtl;
    text-align: center;
    gap: .4vh;
    width: 20%;

    &:not(.ativo):hover {
        box-shadow: 0px 0px 9px 0px #ffffff;
    }
}

.recipiente_item_imagem_aventura_mestre h4 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipiente_imagem_aventura_mestre {
    position: relative;
    aspect-ratio: 16 / 9;
}