#recipiente_pagina_disponibilidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1% 3%;
    gap: 5vh;
    align-items: center;
}

#recipiente_container_disponibilidade {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3vh;
}

#recipiente_disponibilidade_superior {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#botao_configurar_disponibilidades {
    padding: .3rem;
}

#recipiente_disponibilidade_inferior {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;

    & > h1 {
        margin: auto;
    }
}

#recipiente_mensagem_disponibilidade {

}

#recipiente_dados_disponibilidade {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coluna_dds {
    flex: 1;
}



.linha {
    display: flex;
    width: 100%;
}

.celula_cabecalho {
    flex: 1;
    border: 1px solid white;
    padding: .8em;
    text-align: center;
    font-size: 1em;
}

.celula {
    flex: 1;
    border: 1px solid white;
    padding: .6rem;
    text-align: center;
    height: 10rem;
}

#recipiente_modal_disponibilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

#recipiente_disponibilidades_criadas {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;

    & table {
        border-collapse: separate;
        border-spacing: 0 .4em;
    }
}

#recipiente_adicao_disponibilidade {
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#recipiente_informaacoes_adicionar_disponibilidade {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    flex: 1;
}

#botao_adicionar_nova_disponibilidade {
    padding: 1vh;
}