.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem_secao_inicial {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    opacity: .5;
}