.link_retorno {
    display: contents;
}

#recipiente_icone_acao_voltar_pagina_aventuras {
    position: absolute;
    top: 1.5%;
    left: 1%;
    padding: .2% .45% .3%;
    backdrop-filter: brightness(.3);
    border-radius: 100%;
    box-shadow: 0 0 7px 0px #00000069;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    & a {
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0 0 7px 0px #ffffffff;
    }
}