.recipiente_lista_aventuras {
    display: flex;
    flex-direction: column;
    gap: .6%;
    width: 100%;
}

.recipiente_item_menu_aventuras {
    display: flex;
    flex-direction: row;
    gap: .3vw;
    user-select: none;

    &:not(.ativo):hover {
        box-shadow: 0px 0px 9px 0px #ffffff;
    }

    &.ativo {
        color: #FBFF95;
        background-color: #DBB4F84D;
    }

    &:not(.ativo):hover {
        cursor: pointer;
    }
}

.recipiente_imagem_aventura_item_menu {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 43%;
}

.recipiente_dados_aventura {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: center;
    padding: 1.2% 0 .2%;
}

.recipiente_dados_aventura_titulo {
    flex: 1;
}

.recipiente_dados_aventura_estado {

}