.recipiente_registro_personagem_e_seus_avatares {
    display: flex;
    flex-direction: column;
    width: 13%;
    gap: .4vh;
    text-align: center;
    
    & h4 {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:not(.sem_avatares) {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 9px 0px #ffffff;
        }
    }
}

.recipiente_imagem_avatar {
    position: relative;
    aspect-ratio: 1;
}

.pendente { color: var(--cor-atencao); }

.completo { color: var(--cor-confirmacao); }