#recipiente_pagina_aventuras {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: var(--fonte-cinzel);
}

#recipiente_barra_busca {
    width: 100%;
    height: 5vh;
}

#recipiente_corpo_aventuras {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95vh;
    gap: 1vw;
    padding: .5vh .6vw;
}

#recipiente_aventura_selecionada {
    display: flex;
    flex-direction: column;
    flex: .8;
    background-color: #3122464D;
    border-radius: 1vw;
}

#recipiente_corpo_aventura_selecionada {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1% 2%;
    gap: 2vh;
}

#recipiente_capa_aventura_selecionada {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}

#recipiente_cabecalho_aventura_selecionada {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#recipiente_grupos_aventura_selecionada {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .7% 10%;
    gap: 2vh;
}

.recipiente_linha_grupo {
    display: flex;
    flex-direction: row;
}

.linha_grupo_esquerda {
    flex: 1;
}

.linha_grupo_direita {
    flex: 1;
    text-align: center;
    align-items: center;
    align-content: center;
}

#recipiente_personagens_participantes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipiente_imagem_personagem_participante {
    position: relative;
    height: 13vh;
    aspect-ratio: 1;
}

#recipiente_menu_aventuras {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: .2;
    padding: 1vh .5vw;
    gap: 2vh;
    background-color: #3122464D;
}

.recipiente_item_menu_aventuras {
    display: flex;
    flex-direction: row;
    gap: .3vw;
    cursor: pointer;
}

.recipiente_imagem_aventura_item_menu {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 40%;
}

.recipiente_dados_aventura {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}