.estatisticas_barras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.estatistica_barra {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1vh;
}

.estatistica_barra h2 {
    margin: 0;
}