#recipiente_lista_acoes_pagina_mestre {
    display: flex;
    flex-direction: column;
    flex: .12;
    height: 100%;
    background-color: #312246b3;
    padding: 1vh .2vw;

    & .titulo_permissao_mestre {
        text-align: center;
        color: #E7FFBC;
    }

    & hr {
        margin: 1vh 0 .8vh;
    }
}

.recipiente_linha_acao_mestre {
    user-select: none;
    border-radius: 5px;
    padding: 3% 2%;
}