#recipiente_pagina_disponibilidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1% 3%;
}

#recipiente_disponibilidade_superior {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#botao_configurar_disponibilidades {
    padding: .3rem;
}

#recipiente_disponibilidade_inferior {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

#recipiente_dados_disponibilidade {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.linha {
    display: flex;
    width: 100%;
}

.celula_cabecalho {
    flex: 1;
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.celula {
    flex: 1;
    border: 1px solid white;
    padding: 1rem;
    text-align: center;
    height: 10rem;
}

/* #recipiente_disponibilidade_inferior * { 
    text-decoration: none;
    cursor: initial;
    background: none !important;
    color: #fff !important;
    pointer-events: none;
}

.celula {
    text-align: center;
} */

#recipiente_modal_disponibilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

#recipiente_disponibilidades_criadas {
    flex: 1 0 0;
}

#recipiente_adicao_disponibilidade {
    flex: 0 0 0;
}

#recipiente_informaacoes_adicionar_disponibilidade {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    flex: 1;
}

#botao_adicionar_nova_disponibilidade {
    padding: 1vh;
}