:root {
  --fonte-cinzel: 'Cinzel', serif;
  --fonte-cinzel-decorative: 'Cinzel Decorative', serif;
  --fonte-junge: 'Junge', serif;

  --zindex-final-swiperEsquerda: 999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  scrollbar-gutter: stable;
}

body {
  position: static;
  background-color: #0E0B18;
}

img {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #C5AA18;
}

svg {
  width: 100%;
  height: 100%;
}

.negrito {
  font-weight: bolder;
}

/* 
body {
  background: linear-gradient(to bottom, #0b1623 0%, #1e3a5f 50%, #0b1623 100%);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  // background: radial-gradient(circle, #292b2457 0%, transparent 63%);
}

input {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

details summary {
  list-style: none; 
  display: flex;
  align-items: center;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

.cor_mensagem_erro {
  color: #FF0000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#330ba4, #64305f, #330ba4);
  border-radius: 10px;
}

:root {
  --cor1: #2be5ff8c;
} */


/* coisas que vieram com o Next

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*/