:global(section h1) {
    font-size: 2em;
}

#main {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 100%;
    gap: 4vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

    color: white;
    font-family: 'Crimson Pro', serif;
    font-variant: small-caps;

    /* max-width: calc(100vh * 16 / 9);
    max-height: calc(100vw * 9 / 16); */
}

#recipiente_conteudo_pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 3vh;
    overflow: hidden auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;

    font-family: 'Barlow', sans-serif;
}

/* #recipiente_conteudo_pagina p {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin: 0;
} */