
.recipiente_perfil {
    width: 100%;
    height: fit-content;
}


.recipiente_barra_usuario {
    margin: 2.5% auto;
    position: relative;
    width: 90%;
    aspect-ratio: 16/4.815;

    display: flex;
    flex-direction: row;
    gap: 2%;
}

.recipiente_barra_usuario::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url('/moldura-seção-usuario.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;

    pointer-events: none;
}

/* AREA DE SELEÇÃO DE AVATARES ==============================*/

#recipiente_selecao_avatares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5vh;
    padding: 2vh 0;
}

#recipiente_selecao_avatares h2 {
    margin: auto;
}

.recipiente_celula_avatar {
    flex: 0 0 30%;
    height: fit-content;
}

.recipiente_avatar {
    position: relative;
    aspect-ratio: 1;
    height: 8rem;
    margin: auto;
}

.recipiente_avatar:not(.selecionado_atual) {
    cursor: pointer;
}

.recipiente_avatar img {
    filter: drop-shadow(2px 4px 6px black);
}

.recipiente_avatar.selecionado_atual img {
    filter: drop-shadow(2px 4px 6px rgb(233, 170, 55));
}

.recipiente_avatar:not(.selecionado_atual):hover img {
    filter: drop-shadow(2px 4px 6px rgb(51, 255, 136));
}