.editando_ficha_pericias {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2vh;
}

.pericia_contadores {
    display: flex;
    flex-direction: column;
}

.patente_contadores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.atributos_e_pericias {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.atributo_agrupa_pericias {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.conjunto_pericias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2vh;
}

.editar_pericia {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2vw;
    row-gap: 2vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.acoes_pericia {
    display: flex;
    flex-direction: row;
}

.corpo_pericia {
    padding: 5%;
}