.editando_ficha_pericias {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2vh;
}

.pericia_contadores {
    display: flex;
    flex-direction: column;
}

.patente_contadores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.atributos_e_pericias {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.atributo_agrupa_pericias {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.conjunto_pericias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2vh;
}

.editar_pericia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5%;
    row-gap: 2vh;
    justify-content: center;
}

.corpo_pericia {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(33%);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.botoes_pericia {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}