.recipiente_pagina_de_jogo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 1.5% 1%;
}

.recipiente_pagina_de_jogo_conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.recipente_pagina_de_jogo_botoes {
    flex: 0;

    & button {
        padding: .6em
    }
}

.recipiente_em_sala_de_jogo_janela_mensagens_de_jogo {
    width: 30%;
    height: 80%;
}