div.recipiente_capa_cabecalho_aventura {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 37%;
    box-shadow: 0 4px 9px 4px #000;
}

.botao_config_arte_capa {
    position: absolute;
    right: 0.75em;
    bottom: 0.75em;
    z-index: 1;
    cursor: pointer;
}