.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5vh 0;
    min-width: 500px;
    max-width: 90vw;
    margin: 0 auto;
}

.section div {
    text-align: center;
    white-space: pre-wrap;
}

.section .title {
    line-height: 4.5vh;
}

.section .title p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5vh;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.section .paragraph {
    line-height: 2.4vh;
}


.section .paragraph p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    margin: 0 auto;
}

.img1 {
    /* position: absolute; */
    /* width: 100%; */
    height: 30%;
    /* bottom: 12%; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .4;
}

.img2 {
    /* width: 30%; */
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}