.carousel-content {
    display: block;
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.carousel-content > * {
    margin: 3vh 0;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-slider {
    width: 100%;
    height: auto;
}

.slider-container {
    display: block;
    height: auto;
    grid-row: 1;
    width: 100%; 
}