body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #000000 12%, #22153B 65%, #000000 100%);
}