#recipiente_acoes_aventura {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#recipiente_area_video_youtube {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recipiente_area_podcast_spotify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}