.divPrincipal {
    height: 100vh;
    width: 100vw;
}

.top {
    display: inline-block;
    height: 12vh;
}

.main {
    display: flex;
    flex-direction: row;
    height: 88vh;
    overflow: hidden;
}


.left {
    flex: .18;
    height: 100%;
}

.mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    text-align: center;
    color: white;
}

.right {
    flex: .18;
    height: 100%;
}

.estatisticas-barras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    padding: 2% 0;
}

.main-wrapper {
    flex: 1;
    overflow: auto;
}

.react-tabs__tab-panel {
    height: 100%;
}