.teste {
    background: #171717;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1 1 0%;
    height: 100%;
    background-color: #454545;
    overflow-y: auto;
    min-width: 0px;
}

.main-child {
    display: block;
    height: 30%;
    margin: 3%;
    background: linear-gradient(180deg, #000000 12%, #22153B 65%, #000000 100%);
    margin: 2% auto;
    text-align: center;
    color: white;
}

.first-child {
    display: flex;
    flex-direction: row;
}

.first-child-left {
    /* background-color: green; */
    justify-content: center;
    text-align: center;
    height: 100%;
    flex: 1;
}

.first-child-right {
    /* background-color: red; */
    justify-content: center;
    text-align: center;
    height: 100%;
    flex: 1;
}

.first-child-right table {
    margin: auto;
}

.first-child-right tr {
    margin: 2px white solid;
}

.second-child {
    display: flex;
    flex-direction: row;
}

.second-child-child {
    justify-content: center;
    text-align: center;
    height: 100%;
    flex: 1;
}