#recipiente_acoes_aventura {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#recipiente_area_link_trailer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recipiente_area_episodios {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#recipiente_area_lista_episodios {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    row-gap: 2vh;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

.episodio_sem_nenhum_vinculo {
    color: var(--cor-aviso);
}

.episodio_com_algum_vinculo {
    color: var(--cor-atencao);
}

.episodio_completo_vinculo {
    color: var(--cor-confirmacao);
}