.recipiente_secao_novoCarrossel {
    width: 180%;
    position: relative;
}


/* Estrutura lateral e central
.border1 {
    width: 23%;
    height: 29vw;
    scale: 0.95;
    padding: 0% 0% 0% 0%;
    border-top: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.border3 {
    width: 23%;
    height: 29vw;
    scale: 0.95;
    padding: 0% 0% 0% 0%;
    border-top: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.border1 { border-right: 3px solid #28242E; }
.border3 { border-left: 3px solid #28242E; } */

/*DETALHES DA BORDA*/
.recipiente_detalhe_borda {
    margin: auto;
    width: 97.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.flex_detalhe_borda {
    flex: 1;
}

.detalhe_borda1 {
    content: "";
    width: 53.25vw;
    height: 28.5vw;
    border: 5px solid #28242E;
    border-radius: 1vw;
    z-index: 20;
}

.detalhe_borda2 {
    content: "";
    width: 52.1vw;
    height: 28.5vw;
    border: 5px solid #28242E;
    border-radius: 1vw;
    z-index: 20;
}
/* LAYOUT DOURADO */
.slide_principal {
    position: relative;
    width: 60vw;
    height: 100%;
}


.recipiente_bordas {
    width: 100%;
    position: absolute;
    top: -0.5%;
    left: -0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
}

/* Bordas e laterais
.borda_slide1 , .borda_slide3 {
    height: 28.594vw;
    width: 19.7vw;

    scale: 0.98;
}

.borda_slide1 {
    content: "";
    border: 0.4vw solid #644A33;
    border-right: 0.5vw solid #644A33;
    border-radius: 0 15px 15px 0;
    box-shadow: inset 5vw 0px 100px 10px rgb(0, 0, 0);
}



.borda_slide3 {
    content: "";
    border: 0.4vw solid #644A33;
    border-right: 0.5vw solid #644A33;
    border-radius: 15px 0px 0px 15px;
    box-shadow: inset -5vw 0px 100px 10px rgb(0, 0, 0);
} */

/* Borda central */
.borda_slide2 {
    position: relative;
    z-index: 2;
    scale: 0.99;

    width: 61vw;
    height: 34.2vw;

    background-color: #0e0b180a;
    border: 0.8vw solid;
    border-image: linear-gradient(to right, #644A33, #CA9567, #644A33) 1;
    transition: 0.2s;
}

.borda_slide2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #3b384467, transparent 35%);
}

.borda_slide2 {
    background-image: linear-gradient(to top, #d9d9d923 5%, transparent, transparent);
}

.adesivos {
    position: absolute;
    top: -11.5%;
    left: -6%;
    width: 68vw;
    z-index: 6;
    pointer-events: none;
    filter: drop-shadow(0px 11px 8px #00000094);
}

/* Laterais */
.side_bl,
.side_br {
    position: absolute;
    height: 8.021vw;
    top: 38.69%;
    opacity: 100%;
    z-index: 4;
    transition: 0.3s;

    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.801));
}

.side_bl {
    top: 38.75%;
    left: -5.6%;
}

.side_br {
    top: 38.75%;
    right: -7.6%;
    scale: 0.9;
}

.side_bl:hover,
.side_br:hover {
    opacity: 80%;
}

.moldura_carrossel {
    position: absolute;
    top: 2.6%;
    right: -5.5%;
    height: 32.5vw;
    scale: 0.98;
    z-index: 4;
    pointer-events: none;
}


/* SLICK-SLIDER SETTINGS */

.sliderWrapper :global(.slick-slider) {
    width: 100%;

}

.sliderWrapper :global(.slick-slide) {
    transform: scale(0.8);
    opacity: 80%;
    transition: all 0.8s ease;

    content: "";
    border-bottom: 0.5vw solid #644A33;
    border-top: 0.5vw solid #644A33;
    border-right: 1vw solid #644A33;
    border-left: 1vw solid #644A33;
    border-radius: 15 15px 15px 15;
    box-shadow: inset 5vw 0px 100px 10px rgb(0, 0, 0);
}

.sliderWrapper :global(.slick-slide.slick-active) {
    transform: scale(1);
    opacity: 1;
}

.sliderWrapper :global(.slick-slide.slick-current) {
    transform: scale(0.8);
    opacity: 80%;
    transition: all 0.8s ease;
}

.sliderWrapper :global(.slick-arrow) {
    position: absolute;

    z-index: 10;
}

.sliderWrapper :global(.slick-arrow::before) {
    font-size: 24px;
    color: #b79051;
    opacity: 1;
}

.sliderWrapper :global(.slick-prev) {

    top: 47%;
    left: 32.6%;
}

.sliderWrapper :global(.slick-prev::before) {
    content: "";
    background-image: url("/imagensFigma/slide_b_over_l.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}

.sliderWrapper :global(.slick-next) {
    top: 47%;
    right: 34.25%;
}

.sliderWrapper :global(.slick-next::before) {
    content: "";
    background-image: url("/imagensFigma/slide_b_over_r.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}

/*Classes do Slick-Slider:

.slick-slider

.slick-list

.slick-track

.slick-slide

.slick-active*/