.card_ser {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    padding: 1em;
    width: 100%;
}

.card_ser_id {
    font-size: 1.1em;
}

.card_ser_data {
    font-size: 0.85em;
    opacity: 0.7;
}
