.card_ser {
    width: 100%;
    min-height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.45em;
    padding: 1em;
    border: 0.08em solid var(--cor-borda);
    border-radius: 0.5em;
    /* background: var(--cor-fundo-secundario); */
    background-color: #392D58;
}

.card_ser strong {
    font-size: 1em;
}

.card_ser span {
    font-size: 0.9em;
    opacity: 0.85;
}