#conteudo_swiper_direita {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 2vh 1vw;
    flex: 1;
}

#conteudo_swiper_direita :global(.slick-list) {
    overflow: visible;
}

#conteudo_swiper_direita :global(.slick-slide) {
    display: flex;
}

#titulos_paginas_swiper_direita {

}

.item_slider {
    transform: scale(0.5);
    transition: transform 300ms;
    opacity: 0.5;
    text-align: center;
    transition: transform 300ms, opacity 300ms, flex-basis 300ms;
}

.item_slider_selecionado {
    transform: scale(1.1);
    opacity: 1;
}

.swiper_direita {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    background: #0B0D0E;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0 0 5px;
    overflow-y: visible;
    transition: transform 0.3s ease;
    z-index: 101;
}

.botao_swiper_direita {
    position: absolute;
    top: 0;
    left: -4vw;
    width: 4vw;
    height: 8vh;
    background: #0B0D0E;
    border: none;
    color: white;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_direita.swiper_direita_fechado {
    transform: translateX(100%);
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 35%;
}

.arrow svg {
    transition: color 300ms;
}

.arrow svg:hover {
    color: #68EDFF
}

.arrow_next {
    right: 0;
}

.arrow_prev {
    left: 0;
}

.icone_config_pagina{
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    transform: translate(90%, -40%);
}

.configuracoes_pagina {

}