.wrapper_conteudo_abas {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    gap: .5%;
    padding: 0 1vw;
}

.div_demo_acoes {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    border: 2px white solid;
    padding: .4%;
    margin: .8%;
    color: white;
    overflow-y: auto;
    justify-content: space-evenly;
}

.div_demo_acoes h1 {
    margin: 0;
}