.filtros_selecionados {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.conteudo_consulta {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.conteudo_consulta h1, .div_filtro span {
    color: white;
}

.total_registros, .total_exibidos {
    font-size: 1em;
    color: white;
}


.div_filtros {
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    margin: auto;
    height: 3.8rem;
}

.div_filtro {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    flex: 1;
    width: 18vw;
}

.divisao_registros {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2vh;
}

.divisao_registros h2 {
    margin: 0;
}

.registros {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    gap: 2%;
    justify-content: center;
}