.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  max-height: 10%;
}

.header-logo {
  flex: 2 1 20%;
  height: 100%;
  text-align: center;
}

.header-acessar {
  flex: 2 1 20%;
  text-align: center;
}

.header-logo img {
  height: 100%;
}

.header nav {
  flex: 6 1 60%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5%;
  font-size: 125%;
  justify-content: center;
}

.nav-menu a {
  color: white;
  cursor: pointer;
}

.nav-menu a:hover {
  color: red;
}