.barra_locais_borda_esquerda {
    flex: .2;
    border-radius: 0 0 0 20px;
    border-right: 1px #979797 solid;
}

.barra_locais_borda_esquerda:hover, .barra_locais_borda_direita:hover {
    background-color: #AEF3FA;
}

.barra_locais_centro {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #979797;
}

.barra_locais_borda_esquerda, .barra_locais_centro, .barra_locais_borda_direita {
    background-color: rgb(184, 180, 180);
}

.barra_locais_borda_direita {
    flex: .2;
    border-radius: 0 0 20px 0;
    border-left: 1px #979797 solid;
}

.icone_local:hover {
    color: #6ebcc5;
}

.icone_local.local_selecionado {
    color: #AEF3FA;
}

.recipiente_icone_barra_locais {
    height: 100%;
    aspect-ratio: 1;
}