.recipiente_abas_fichas {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-top: 3vh;
    gap: 5vh;
}

.recipiente_provisorio_atributos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw;
    flex-wrap: wrap;
    row-gap: 2vh;
}