::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #D1E5FF;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#2d00aa, #2c192a);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #000000 12%, #22153B 65%, #000000 100%);
    color: white;
    font-family: 'outfit';
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
}