.container-rect-carousel:hover {
    scale: 1.05;
    transition: .3s ease-in-out;
}

.container-rect-carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 300px;

    background-size: cover;
    background-position: center;
}

.carousel-item-top {
    position: relative;
    padding: .1vh .9vw;
    border-radius: 20px;
    margin-top: 2vh;
}

.carousel-item-top.live {
    background: #CB0000;
    margin: 2vh auto auto 1.5vw;
}

.carousel-item-top.notLive {
    background: #D56C00;
}

.carousel-item-top-p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
}

.carousel-item-bottom {
    position: relative;
    margin: auto 24% 13% auto;
}

.carousel-item-bottom-p {
    text-align: left;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

a {
    text-decoration: none;
}