.container_caixa_informacao {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    padding: .3% 0 2vh 0;
    font-family: 'Crimson Pro', serif;
    font-variant: small-caps;
    min-width: 20vw;
    background: #090909FA;
    color: white;
    gap: 2vh;
    align-items: center;
}

.container_caixa_informacao > * {
    align-items: center;
}

.cabecalho_caixa_informacao {
    padding: 1%;
    font-size: 1.5em;
}

.corpo_caixa_informacao {
    display: flex;
    flex-direction: column;
    gap: .7vh;
    font-size: 1.2em;
}

.rodape_caixa_informacao {
    display: flex;
    flex-direction: column;
}