.vars {
    --cor_linhas: #241B2E;
}

.cabecalho {
    composes: vars;

    display: flex;
    flex-direction: row;
    position: relative;
    width: 95%;
}

#cabecalho_esquerda {
    display: flex;
    flex-direction: row;
    flex: .15;
    height: 100%;
}

#recipiente_logo {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    margin: 6%;
}

#recipiente_logo a {
    width: 100%;
}

#cabecalho_direita {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    height: 100%;
}

#cabecalho_direita_linha {
    display: flex;
    position: relative;
    /* flex: 1; */
    width: 81%;
    height: 100%;
    align-items: center;
}

#cabecalho_direita_acesso {
    flex: 1;
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}

#recipiente_linha_cabecalho {
    position: absolute;
    width: 100.5%;
    height: 100%;
}

.linha {
    flex: 1;
    height: 4.3%;
    margin: 0px 2px;

    background-color: var(--cor_linhas);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.527);
    border-radius: 50px;
}

.arquivo_logo {
    width: 100%;
}