.recipiente_tela_jogo {
    position: relative;
    width: 100%;
    height: 100%;

    border-style: solid;
    border-color: #000000;
    border-top-width: 1vh;
    border-right-width: .58vw;
    border-bottom-width: 1vh;
    border-left-width: .58vw;
    border-top-left-radius: 6vh;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
    border-top-right-radius: 6vh;

    overflow: hidden;
}