#login_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: gray;
    border-radius: 20px;
    margin: auto;
    padding: 1.5%;
    gap: 3vh;
    height: 50%;
    width: 18%;
}

#login_container h1 {
    margin: 0;
    font-size: 3em;
}

.login_fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2vh;
}

.login_fields h2 {
    margin: 0;
}

.login_fields input {
    width: 100%;
}


/*  */

#formulario_login {
    height: 70%;
    width: 22%;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
}

#recipiente_login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

#recipiente_titulo {
    margin: 2% auto 10% auto;
    text-align: center;
}

#recipiente_titulo h1 {
    font-size: 3.5em;
}