.item_ser {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.avatar {
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    overflow: hidden;
    flex: none;
}

.info {
    display: flex;
    flex-direction: column;
}

.nome {
    color: #EBE0C9;
}

.tipo {
    font-size: 0.8em;
    opacity: 0.7;
}
