
.recipiente_icones_acesso {
    position: relative;
    height: 65%;
    aspect-ratio: 1;
}

.recipiente_icones_acesso img {
    width: auto !important;
}

#icones_esquerda {

}

#recipiente_icones_acesso_botao {
    height: 61%;
    left: -7%;
    z-index: 2;
}

#botao_acessar {
    display: flex;
    z-index: 3;
    height: 100%;
}

#recipiente_icones_lateral_direita {
    right: -10%;
}

#icones_direita {
    transform: scaleX(-1);
}