.shopping {
    display: flex;
    flex-direction: column;
    color: white;
}

.inventario_atual {
    display: inline-block;
    margin: auto;
}

.linha_item {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.modal_inventario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.remove_item {
    cursor: pointer;
}