#overlay_swiper_esquerda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: calc(var(--zindex-final-swiperEsquerda) - 5);
}

#swiper_esquerda {
    position: fixed;
    left: -21vw;
    width: 21.4vw;
    height: 100vh;
    color: white;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-1.1vw);
    z-index: calc(var(--zindex-final-swiperEsquerda) - 4);
    font-family: var(--fonte-junge) !important;
}

#swiper_esquerda.aberto {
    transform: translateX(20vw);
}

#recipiente_base {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#recipiente_base_relative {
    position: relative;
    height: 100%;
}

#recipiente_SVG_Borda {
    position: absolute;
    height: 100%;
    width: 16.54%;
    right: 0;
    z-index: calc(var(--zindex-final-swiperEsquerda) - 3);
}

#recipiente_SVG_Base {
    position: relative;
    height: 100%;
    width: 23vw;
    z-index: calc(var(--zindex-final-swiperEsquerda) - 1);
}

.recipiente_botao_swiper_esquerda {
    position: absolute;
    height: 8.18vh;
    top: 13vh;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    z-index: calc(var(--zindex-final-swiperEsquerda) - 2);
}

.recipiente_botao_swiper_esquerda.tamanho_reduzido {
    right: -1.5vw;
}

.recipiente_botao_swiper_esquerda, .recipiente_botao_swiper_esquerda.tamanho_reduzido:hover {
    right: -3.6vw;
}

.recipiente_icone_botao {
    position: absolute;
    top: 29%;
    right: 35%;
    height: 47%;
}

#recipiente_lista_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 78%;
    top: 10%;
    left: 10%;
    gap: .5vh;
    font-size: 1.45vh;
}

#recipiente_lista_menu a {
    text-decoration: none;
    color: inherit;
}

#recipiente_lista_menu a:hover {
    color: rgb(185, 252, 230)
}

.conteudo_swiper_esquerda {
    position: relative;
    height: 94%;
    width: 74%;
    top: 3vh;
    left: 2vw;
    z-index: calc(var(--zindex-final-swiperEsquerda) - 0);
}

.conteudo_swiper_esquerda_2 {
    position: relative;
    width: 100%;
    height: 94%;
    top: 3vh;
}

#recipiente_moldura_superior {
    position: absolute;
    top: 0;
    width: 100%;
}

#recipiente_moldura_inferior {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: scaleY(-1);
}